* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background */
body {
  background-image: url("../img/natural-pattern.png");
}
/* contenuto */
.contenitore {
  width: 50%;
  margin: 10px auto;
}
/* blocco superiore */
header {
  background-image: url("../img/natural-header.jpg");
  height: 300px;
  text-align: center;
  border: 10px solid white;
}

header div img {
  height: 200px;
  width: 500px;
}

.titoletto {
  color: white;
  font-size: 30px;
  text-transform: capitalize;
}
/* collegamenti */
nav {
  text-align: center;
  background: #666666;
}

.collegamenti li {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  line-height: 50px;
}

.collegamenti a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

.collegamenti li:hover {
  background: #cecece;
  background-size: cover;
}
/* corpo centrale */
main::after {
  content:'';
  display: table;
  clear:both;
}

main {
  padding: 15px 0;
}
/* colonna sx */
.col-sx {
  width: 25%;
  background: white;
  border-radius: 5px;
  float:left;
}

.col-sx i {
  font-size: 30px;
  color: orange;
  margin: 5px;
}

.col-sx h2 {
  display: inline-block;
  text-transform: capitalize;
}

.col-sx li {
  list-style: none;
}

.col-sx a {
  text-decoration: none;
  color: green;
  font-size: 50px;
  padding: 5px;
}

.col-cntr {
  height: 200px;
  width: 40%;
  background: white;
  border-radius: 5px;
  float:left;
  margin: 0 5%;
}

.col-dx {
  height: 800px;
  width: 25%;
  float:left;
}

.widget {
  height: 200px;
  background: white;
  border-radius: 5px;
  margin-bottom: 15px;
}
