* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background */
body {
  background-image: url("../img/natural-pattern.png");
  background-size: cover;
}
/* contenuto */
.contenitore {
  width: 50%;
  margin: 10px auto;
}
/* blocco superiore */
header {
  background-image: url("../img/natural-header.jpg");
  background-size: cover;
  height: 300px;
  text-align: center;
  border: 10px solid white;
}

header div img {
  height: 200px;
  width: 500px;
}

.titoletto {
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}
/* collegamenti */
nav {
  text-align: center;
  background: #666666;
}

.collegamenti li {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  line-height: 50px;
}

.collegamenti a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.collegamenti li:hover {
  background: #cecece;
  background-size: cover;
}
/* corpo centrale */
main::after {
  content:'';
  display: table;
  clear:both;
}

main {
  padding: 15px 0;
}
/* colonna sx */
.col-sx {
  width: 25%;
  background: white;
  border-radius: 5px;
  float:left;
}

.col-sx i {
  font-size: 30px;
  color: orange;
  margin: 5px;
}

.col-sx h2 {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.col-sx li {
  list-style: none;
  line-height: 25px;
  padding: 10px;
}

.col-sx li:hover {
  background: #cecece;
}

.col-sx a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: green;
  font-size: 20px;
  padding: 5px;
}
/* colonna centrale */
.col-cntr {
  width: 40%;
  background: white;
  border-radius: 5px;
  float:left;
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  margin: 0 5%;
  padding: 5px;
}

.col-cntr h2 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px rgb(0,0,0,0.5);
  margin-bottom: 10px;
}
/* 2 colonne di dx */
.col-dx {
  width: 25%;
  float:left;
}

.widget {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  background: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px;
}

.widget h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
/* footer */
.social::after {
  content:'';
  display: table;
  clear: both;
}

footer {
  padding: 15px;
  background: white;
  border-radius: 5px;
  color: #cecece;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.social li {
  display: inline-block;
  float: left;
  font-size: 50px;
  width: 33.333%;
  padding: 15px;
}

.social i {
  color: #cecece;
}
